# Mac stuff:
.DS_Store

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache
Cargo.lock
examples/macroquad_example/Cargo.lock
examples/bevy_example/Cargo.lock
examples/hello_world_web/Cargo.lock
examples/hello_world_web/Cargo.lock
examples/demo_web/Cargo.lock
examples/colors_web/Cargo.lock
/test_example
/testik
